
.sidebar {
    background-image: url("fondo/library_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.title-header2 {
    font-size: 15px;
    font-weight: bold;
}
    .subtitle-header2 {
        font-size: 22px;
        font-weight: bold;
    }


.header3 {
    background-color: #e2e8f0;
    box-shadow: 0 3px 5px  rgb(196, 196, 196) inset;
}
    .subtitle {
        font-weight: bold;
        font-size: 18px;
    }
    .announ-list {
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 2px rgb(196, 196, 196);
        font-size: 13px;
    }
        .announ-title {
            font-weight: bold;
            font-size: 16px;
        }

    #open-add-dialog-button {
        background-color: #1992d4;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        width: 150px;
    }
        #open-add-dialog-button:hover {
            background-color: #3e8e41;
        }

  /*-------- Grid set -------*/

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
/*---------------------------------*/
.sidebar {
    grid-column: 1/2;
    grid-row: 1/4;

    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 5px;
}

/*---------------------------------*/
.header2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-left: 20px;
}
    .header2-logo {
        display: flex;
        justify-content:flex-start;
        align-items: center;
        gap: 10px;
    }
        .user-header2 {
            display: flex;
            flex-direction: column;
        }

/*---------------------------------*/

.header3 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    gap: 20px;
}
    #content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #book-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }

    .book-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 3px 2px rgb(196, 196, 196);
    }
        .title {
            font-weight: bold;
        }
        .pages {
            font-style: italic;
        }
    .remove-button {
        margin-bottom: 10px;
    }
    .book-card button {
        border: none;
        border-radius: 10px;
        width: calc(100% - 100px);
        height: 50px;
    }
    .book-card i {
        align-self: flex-end;
        padding-right: 20px;
        padding-bottom: 10px;
        color: #273e4b;
    }
    .book-card i:hover {
        opacity: 0,50;
        cursor: pointer;
    }

    button[read="false"] {
        background-color: rgba(254, 109, 109, 0.8);
        width: 100px;
        height: 30px;
    }
        button[read="false"]:hover {
            background-color: rgba(254, 109, 109, 1);
        }

    button[read="true"], #add-book-button {
        background-color: rgba(115, 247, 115, 0.80);
        width: 100px;
        height: 30px;
    }
        button[read="true"]:hover, #add-book-button:hover {
            background-color: rgba(115, 247, 115, 1);
        }


    dialog {
        border: none;
        border-radius: 10px;
    }
    
    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.25);
    }
    
    #add-book-dialog {
        background-color: rgb(232, 232, 232);;
        width: 300px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    input[type="text"], input[type="number"] {
        border: none;
        border-radius: 10px;
        height: 50px;
        width: calc(100% - 25px);
        padding-left: 10px;
        font-size: larger;
    }
    
    label {
        font-size: 20px;
    }
    
    
    .read {
        display: flex;
        align-items: center;

    }
    
    input[type="checkbox"] {
        border: none;
        width: 20px;
        height: 20px;
    }
    
    #add-book-button {
        border: none;
        border-radius: 10px;
        width: calc(100% - 25px);
        height: 50px;
        font-size: 20px;
    }
    
    #close-dialog-button {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
    #close-dialog-button:hover {
        cursor: pointer;
        opacity: 0.50;
    }

/*---------------------------------*/
.announcements {
    display: flex;
    gap: 10px;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 1/2;

}
    .announ-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }
        #pro-list {
            display: flex;
            flex-direction: column;
        }
        .first-list,
        .second-list {
            border-bottom: #273e4b 1px solid;
            padding-bottom: 20px;
        }
        .header-button {
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 40px;
        }

/*---------------------------------*/